h2{color:blue;}
.nestodrugo
{
color:yellow
}
#nestonovo
{
color: gray

}
body
{
margin: 0 10% 0 10%;
 background-color:pink
}
#slikaslika{
width:100%;}
.socijalnemreze
{
	width: 25px;
	height: 25px ;
}
div
 {
border: 3px solid
black;
}
#Prvidio 
{
	margin-top : 30px; 
}